# defalt port number 3000 define in (app.js) file
# add new port number
PORT = 

# secret Key for Authentication
TOKEN_KEY ="sampleKey"

# Token Expiration time / change time => 30s or 1m or 2h
TOKEN_EXPIRATION_TIME ="3h"

# database details in (sql_yog)
DATABASE = 
DATABASE_HOST = 
DATABASE_USER = 
DATABASE_PASSWORD = 

# email configuration
MAIN_EMAIL = 
EMAIL_PASSWORD =  

# 4-digit OTP expiration time
# add minutes for expiration
OTP_EXPIRATION_TIME = "10" 